<div #modal class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary is-small" (click)="updateEntry()">Update</button>
            <button class="button is-small" (click)="closeModal()">Cancel</button>
        </footer>
    </div>
</div>