@import '../../main.scss';
.topbar {
    display: flex;
    width: 100%;
    justify-content: center;
    line-height: 7vh;
    height: 7vh;
    background: linear-gradient(to right, $secondary, $primary, $pink);
    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
    color: $white;
}

.calculation-area {
    background: $black;
    width: 100%;
    height: 14vh;
}

.expense-form {
    display: flex;
    width: 100%;
    height: fit-content;
}

hr {
    margin: 0;
}

.income-expense-area {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 62vh;
}