<div class="topbar">
    <h1>Budget Calculator</h1>
</div>
<section class="calculation-area">
    <div class="container">
        <app-calculation></app-calculation>
    </div>
</section>
<section class="expense-form">
    <div class="container">
        <app-expense-form></app-expense-form>
    </div>
</section>
<hr>
<section class="income-expense-area container">
    <div class="columns">
        <div class="income column">
            <h3>Income</h3>
            <div class="income-entries">
                <div class="entry">
                    <app-entry></app-entry>
                </div>
            </div>
        </div>
        <div class="expense column">
            <h3>Expense</h3>
            <div class="expense-entries">
                <div class="entry">
                    <app-entry></app-entry>
                </div>
            </div>
        </div>
    </div>
</section>