.expense-form-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 15px;
    justify-content: center;
    form {
        width: 100%;
        .column {
            height: fit-content;
        }
    }
    .columns {
        height: fit-content;
        .column {
            button {
                width: 100%;
            }
        }
    }
}

input::placeholder {
    font-size: 0.7rem;
}