<div class="expense-form-container container">
    <form class="columns is-mobile is-variable is-0-mobile">
        <div class="column is-one-fifth">
            <input class="input is-small" type="number" placeholder="Amount">
        </div>
        <div class="column is-three-fifth">
            <input class="input is-small" type="text" name="description" placeholder="Description">
        </div>
        <div class="column is-one-fifth">
            <button class="button is-primary is-small" type="submit">Add</button>
        </div>
    </form>
</div>