<div class="expense-form-container container">
    <form class="columns">
        <div class="column is-one-fifth">
            <input class="input is-rounded" type="number" placeholder="Amount">
        </div>
        <div class="column is-three-fifth">
            <input class="input is-rounded" type="text" name="description" placeholder="Description">
        </div>
        <div class="column is-one-fifth">
            <button class="button is-primary is-rounded" type="submit">Add</button>
        </div>
    </form>
</div>