<div class="columns">
    <div class="income column">
        <h3>Income</h3>
        <div class="entries">
            <div class="entry" *ngFor="let income of incomes; index as i">
                <app-entry [entry]="income" [entryId]="i"></app-entry>
            </div>
        </div>
    </div>
    <div class="expense column">
        <h3>Expense</h3>
        <div class="entries">
            <div class="entry" *ngFor="let expense of expenses; index as i">
                <app-entry [entry]="expense" [isExpense]="'true'" [entryId]="i"></app-entry>
            </div>
        </div>
    </div>
</div>