<div class="columns">
    <div class="income column">
        <h3>Income</h3>
        <div class="entries">
            <div class="entry">
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
            </div>
        </div>
    </div>
    <div class="expense column">
        <h3>Expense</h3>
        <div class="entries">
            <div class="entry">
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
                <app-entry></app-entry>
            </div>
        </div>
    </div>
</div>