@import '../../main.scss';
.entry-container {
    background: $beige-light;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    .entry-description {
        color: $green;
    }
    .entry-amount {
        color: darken($color: $green, $amount: 10);
        background: lighten($color: $green, $amount: 10);
        padding: 2px 10px;
        border-radius: 3px;
        margin-left: auto;
    }
}