@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Set your brand colors
$purple: #972d74;
$pink: #fc5873;
$brown: #5f6153;
$black: #202020;
$white: #fcfcfc;
$green: #03a360;
$beige-light: #d3d3d1;
$beige-lighter: #e9e9e8;
// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$secondary: $brown;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;